
.root {
	-fx-spacing: 30;
	/*-fx-background-color: #f00;*/
	-fx-background-image: url("../resources/bg2.jpg");
}

#venda_button {
	-fx-background-color: red;
}

#consulta_button {
	-fx-background-color: yellow;
}

#gerenciar_prod_button {
	-fx-background-color: #c4941c;
}

#visualizar_button {
	-fx-background-color: hotpink;
}

#gerenciar_user_button {
	-fx-background-color: purple;
}

#trocar_user_button {
	-fx-background-color: orangered;
}

#config_button {
	-fx-background-color: lime;
}

#minhas_vendas_button {
	-fx-background-color: blue;
}

#home_button {
	-fx-background-image: url("../resources/home_ico.png");
	-fx-background-color: black;
}

#loginBackground {
	-fx-background-image: url("../resources/bg2.jpg");
	-fx-background-repeat: repeat-y;
}